@charset "utf-8";

@font-face {
  font-family: 'Times New Roman';
  src: url('fonts/Times New Roman.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  hyphens: auto;
  text-align: justify;
}

strong {
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  margin: 0;
  font-family: 'Times New Roman', serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  hyphens: auto;
  text-align: justify;
}

.papertitle {
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 700;
  text-align: justify;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Times New Roman', serif;
  font-size: 32px;
}

.one {
  width: 150px;
  height: 150px;
}

.two {
  width: 150px;
  height: 150px;
}

.two {
  position: absolute;
  transition: opacity 0.2s ease-in-out;
}

.fade {
  transition: opacity 0.2s ease-in-out;
}

span.highlight {
  background-color: #e8d0ff;
}
